h1{
  text-align: center;
}

h2 {
  text-align: center;
}

.flashy {
  font-style: italic;
  color: violet;
}

img {
  height: 30%;
  width: 30%;
}

.title {
  font-weight: bold;
}

.language {
  font-style: italic;
}

.skills {
  font-family: arial;
  font-size: 15px;
}
