body {
  background-color: #330025;
  margin: 5px;
}

nav{
text-align:center;
}
.sidebar {
  font-family: 'Anton', sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
}

.sidebar a{
  color: black;
  font-size: 20px;
}

img.band-photo {
  height: 30%;
  width:  50%;
  float: left;
  border: 2px solid #ff3399;
  padding: 5px;
}

p {
  color: white;
}

ul {
  color: white;
}

.cities {
  font-weight: bolder;
  color: #ff3399;
}

.about {
  font-family: 'Anton', sans-serif;
  color: #ff3399;
  float: left;
  padding-left: 40px;
}

.shows {
  font-family: 'Anton', sans-serif;
  color: #ff3399;
}

img.album-photo {
  float: right;
  border: 2px solid #ff3399;
  padding: 5px;
}

.column {
  font-family: 'Exo 2', sans-serif;
  width: 100%;
  float: left;
}

.text {
  width: 400px;
  float: left;
  padding-left: 40px;
}

.column2 {
  font-family: 'Exo 2', sans-serif;
  width:100%;
  float:right;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

.band {
  float: left;
}

@media screen and (max-height:1000px) and (max-width:1000px) {
  body {
    font-family: 'Exo 2', sans-serif;
    background: pink;
    text-align: center;
  }
}
