h2.intro {
  font-style: italic;
  color: gray;
}

.intro {
font-size: 35px;
}

img.intro {
  transition: transform .8s ease-in-out;
}

img:hover {
  transform:  rotate(180deg);
}

.about {
  font-family: papyrus;
  color: skyblue;
}

.text {
font-size: 25px;
color: red;
}

.background {
  background-color: lavender;
}
